/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: rgb(255, 254, 248);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;

}
section {
	margin: 50px 0 0 0;
}


h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-bottom: 50px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filtre{
	
	text-align: center;
	margin-bottom: 75px;
	margin-top: 75px;

}
.filtres{
	color: #1D6154;
	padding: 10px;
	font-size: 1.5em;
	font-weight: 600;
	border: 2px solid #1D6154;
	margin-right: 15px;
	border-radius: 30px;
}

.filtres1{
	color: #1D6154;
	padding: 10px;
	font-size: 1.5em;
	font-weight: 600;
	border: 2px solid #1D6154;
	margin-right: 15px;
	border-radius: 30px;
}

/* Banniere mode créateur */
header{
	display: flex;
	flex-direction: column;
}
#banniereBasse{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 75px;
}
#banniereCreateur{
	color: #1D6154;
	font-size: 1.2em;
	background-color: rgb(0, 0, 0);
	margin-bottom: 00px;
	height: 40px;
	padding-top: 20px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

}
#modeEditions{
	margin-top: 10px;
	color: white;
	margin-right: 10px;
}
#lienmodal{
	text-decoration: none;
	border: none;
}

#publier{
	margin-top: 0px;
	color:black;
	background-color: white;
	padding: 5px 10px 5px 10px;
	border-radius: 15px;
	border: solid white 1px;

}

/* Page modale */

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;	
	top: 0;
	left: 0;
	margin: auto;
	width: 99%;
	height: 100%;
	background: rgba(0, 0, 0, 0.80);

}

.modal-wrapper {
	width: 700px;
	height: 750px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
	border-radius: 15px;
	background-color: white;
	font: inherit;
	display: flex;
	flex-direction: column;

}

#flecheEtCroix{
	justify-content: space-between;
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}

.croix{
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 1.5em;
}

.croix1{
	margin-top: 15px;
	margin-bottom: 25px;
	margin-left: 95%;
	font-size: 1.5em;
}

.fleche{
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 1.5em;
}

h3
{
	font-size: 2.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;

}

#addPhoto{
	color: white;
	background-color: #1D6154;
	padding: 10px 17px 10px 17px;
	font-size: 1.2em;
	border-radius: 20px;
	width: 35%;
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	font-family: 'Syne';
}

#deleteGallerie{
	margin-top: 15px;
	font-size: 1.0em;
	border: none;
	font-weight: 100;
	color: #f95a5a;
	background-color: white;
	font-family: 'Syne';
}

#barre{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 50px;
	color: gray;
}
.lesPhotos{
	height: 380px;
	display: grid;
	grid-template-columns: 18% 18% 18% 18% 18%;
    gap:2%;    
	object-fit: cover;
	margin-left: 15%;
	margin-right: 15%;
	overflow: hidden;
}

.imgModal{
	width: 99%;
	object-fit: cover;
}

.Editer{
	font-size: 1.0em;
	margin-bottom: 10px;
}
aside div div figure{
	position: relative;
}
.poubelle{
	font-size: 1.0em;
	color: white;
	background-color: black;
	padding: 8px;
	border-radius: 4px;
	position: absolute;
	margin-left: -30px;
	
}

/* Formulaire ajout de photo */

#formulaireAjoutPhoto{
	margin-left: 15%;
	margin-right: 15%;
	font: inherit;
}

#TitrePhoto, #CategoriePhoto{
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	font-size: 1.2em;
	font-weight: 500;
} 

#titre , #categorie{
	margin-top: 5px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 60px;
}

#drop-area {
	margin-bottom: 55px;
	border-radius: 5px;
	height: 170px;
	text-align: center;
	background-color: #50aec425;
  }
  
#drop-area .file-type {
	margin-top: 10px;
	display: block;
	font-size: 10px;
	color: #424949;
  }
  
#drop-area input[type="file"] {
	display: none;
}

.fa-image{
	margin-top: 20px;
	margin-bottom: 10px;
	height: 60px;
	width: 80px;
	font-size: 4em;
	align-items: center;
	color: #42494977
}
  
.add-photo {
	display: block;
	background-color: #4d4f5048;
	color: #53739c;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 0px;
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 15px;
	cursor: pointer;
	margin-top: 0px;
}

#boutonValider{
	margin-left: auto;
	margin-right: auto;
	border: none;
	background-color: rgba(128, 128, 128, 0.74);
	color: white;
	padding: 10px 130px;
	font-size: 1.3em;
	border-radius: 20px;
}

/*  Ajout de la mises en pages des icones modifier */

#projetmodifiericone {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.fa-pen-to-square{
	font-size: 1.5em;
	color: black;
	font-weight: 200;
}
.modifier{
	font-family: Work Sans;
	margin-right: 5px;
	font-size: 0.9em;
}
#premiermodifier{

	margin-left: 55px;
	margin-top: 10px;
}
#secondmodifier{
	margin-top: 4px;
	margin-left: 25px;
}
#ModifierBanniere{
	color: white;
	font-size: 1em;
	margin-right: 5px;
	font-weight: 100;
}
